[package]
name = "modurl"
version = "0.1.0"
edition = "2024"

[dependencies]
log = { version = "0.4.28", optional = true }
bon = "3.7.2"
candle-core = { git = "https://github.com/huggingface/candle", rev = "d205fb4" }
candle-nn = "0.9.1"
rand = "0.9.2"
rayon = { version = "1.11.0", optional = true }
tracing = { version = "0.1.37", optional = true }

[features]
default = []
tracing = ["dep:tracing"]
logging = ["dep:log"]
multithreading = ["dep:rayon"]
cuda = ["candle-core/cuda", "modurl_gym/cuda"]

[dev-dependencies]
modurl_gym = { git = "https://github.com/ModuRL/ModuRL_Gym", features = [
    "rendering",
] }
candle-optimisers = "0.9.0"
tracing-subscriber = "0.3.20"
tracing = { version = "0.1.37" }

[patch.crates-io]
candle-core = { git = "https://github.com/huggingface/candle", rev = "d205fb4" }

[patch."https://github.com/ModuRL/ModuRL"]
modurl = { path = "." }
