[package]
name = "rust_rl"
version = "0.1.0"
edition = "2021"

[dependencies]
candle-core = { git = "https://github.com/NoodlesOfWrath/candle", branch = "gradstore_insert_id" }
candle-nn = "0.9.1"
log = { version = "0.4.28", optional = true }
rand = "0.9.2"
tracing = { version = "0.1.37", optional = true }

[features]
default = []
tracing = ["dep:tracing"]
logging = ["dep:log"]

[dev-dependencies]
candle-optimisers = "0.9.0"
tracing-subscriber = "0.3.20"
tracing = { version = "0.1.37" }

[patch.crates-io]
candle-core = { git = "https://github.com/NoodlesOfWrath/candle", branch = "gradstore_insert_id" }
