# Exact Python environment used for results/cpu-windows-i7-1255u.json.
absl-py==2.5.0
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
deepdiff==7.0.1
distlib==0.4.3
farama-notifications==0.0.6
filelock==3.32.2
fonttools==4.63.0
fsspec==2026.7.0
grpcio==1.83.0
gymnasium==1.2.2
h5py==3.16.0
jinja2==3.1.6
kiwisolver==1.5.0
llvmlite==0.48.0
markdown==3.10.3
markupsafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
networkx==3.6.1
numba==0.66.0
numpy==2.4.6
ordered-set==4.1.0
overrides==7.7.0
packaging==26.3
pandas==2.3.3
pettingzoo==1.26.1
pillow==12.3.0
platformdirs==2.6.2
protobuf==7.35.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
sensai-utils==1.6.0
setuptools==84.0.0
six==1.17.0
stable-baselines3==2.9.0
sympy==1.14.0
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tianshou==2.0.1
torch==2.10.0
tqdm==4.70.0
typing-extensions==4.16.0
tzdata==2026.3
virtualenv==20.16.3
werkzeug==3.1.8
